.title-cards {
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 6%; 
}

.title-cards h2 {
    margin-bottom: 15px;
}

.card-list {
    display: flex;
    gap: 20px; 
    overflow-x: scroll;
    padding: 0; 
}

.card-list::-webkit-scrollbar {
    display: none; 
}

.card-list .card {
    width: 240px;
    text-align: center;
    text-decoration: none;
    color: rgb(144, 143, 143);
    width: 240px; 
}
.card p{
    color: rgb(158, 158, 158);
    text-align: center;
    margin-top: 5px;
}

.card-list img {
    width: 240px; 
    border-radius: 8px; 
    cursor: pointer;
}

@media (width < 800px){
    .title-cards h2{
        font-size: 20px;
    }
    .card-list{
        gap: 10px;
    }
    .card-list img{
        width: 200px;
    }
    .card-list p{
        font-size: 12px;
    }
}

